<!DOCTYPE html>
<head>
</head>
<body>

<%= image_tag("ginius.ru_logo_beta.png") %> <br>
<h3>
	<%= @greeting %>
</h3>

<p><b>Номер заказа:</b> №<%= @order.id %> от <%= @order.created_at.strftime('%d.%m.%Y') %> в <%= @order.created_at.strftime('%H:%M') %></p>
<p><b>Ваш заказ:</b></p>
<p>
	<%= @order.description %>
</p>

<p><strong>Контактные данные:</strong></p>

<p>
	<strong>Имя:</strong> 
	<%= @order.profile.first_name %> <%= @order.profile.last_name if @order.profile.last_name.present? %>
</p>
	
<p>	
	<strong>Телефон:</strong> 
	<%= @order.profile.phone %>
</p>

<p>
	<strong>E-Mail:</strong> 
	<%= @order.profile.email %>
</p>

<h3>Наш оператор обязательно с вами свяжется в ближайшее время!</h3>

</body>
</html>
