<%= bootstrap_form_for(@order) do |f| %>
	<% if @order.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

			<ul>
				<% @order.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.text_area :description, placeholder: "Хочу себе... ", rows: 8, hide_label: true %>
	<!-- <%= f.text_area :comment, placeholder: "Комментарий к заказу...", row: 5 %> -->

	<% if current_page?(root_path) %>

		<div class="modal fade" id="sign_in" role="dialog" aria-labelledby="sign_up_label" aria-hidden="true">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<div role="tabpanel">
						<ul class="nav nav-pills nav-justified" role="tablist">
							<li role="presentation" class="active"><a href="#signup" aria-controls="home" role="tab" data-toggle="pill"><h3>Контакты</h3></a></li>
							<li role="presentation" class=""><a href="#signin" aria-controls="home" role="tab" data-toggle="pill"><h3>Войти</h3></a></li>
						</ul>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane active" id="signup">
						<%= render 'layouts/sign_up' %>
				</div>

			</div>

		</div>
		</div>


	<% end %>

	<% if !current_page?(root_path) %>
		<% if current_user %>
			<% if current_user.manager? %>
				<%= f.select :status, OrderStatus.statuses %>
				<%= f.select :operator, User.operators.collect { |user| [ "#{user.first_name} #{user.last_name}", user.id] } %>
			<% end %>
		<% end %>
	<% end %>

	<div class="actions">
		<%= f.submit "Отправить", class: "btn btn-primary" %>
	</div>
<% end %>
