<% if current_user.manager? %>
	<h2>Все заказы</h2>
<% else %>
	<h2>Мои заказы</h2>
<% end %>


<div class="row">
	
	<%= link_to new_order_path, class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-plus"></span> Новый заказ
	<% end %>
	<br>
	<br>
	<% if @orders.blank? %>
		<p>У вас нет ни одного заказа</p>
	<% else %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Заказ №</th>
					<th>Описание</th>
					<th>Комментарий</th>
					<th>Статус</th>
					<% if current_user.manager? %>
						<th>Клиент</th>
						<th>Оператор</th>
					<% end %>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% Array(@orders).each do |order| %>
					<tr>
						<td>
							<%= link_to order do %> 
								<%= order.id %>
								от <%= order.date_and_time_created %>
							<% end %>
						</td>
						<td><%= order.description %></td>
						<td><%= order.comment %></td>
						<td><%= OrderStatus.description[OrderStatus.statuses.invert[order.status]] %></td>
						<% if current_user.manager? %>
							<td>
								<%= "#{order.client.first_name} #{order.client.last_name}" %> <br>
								<%= "#{order.client.email}" %> <br>
								<%= "Тел: #{order.client.phone}" %>
							</td>
							<td><%= order.operator %></td>
						<% end %>
						<td><%= link_to '', order, class: "glyphicon glyphicon-circle-arrow-right" %>
							<%= link_to '', edit_order_path(order), class: "glyphicon glyphicon-edit" %>
							<%= link_to '', order, method: :delete, class: "glyphicon glyphicon-remove", data: { confirm: 'Are you sure?' } %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
