<h2 class="caption">Заказ № <%= @order.id %> от <%= @order.date_and_time_created %></h2>

<p>  
  <strong>Заказ:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Статус заказа:</strong>
  <%= OrderStatus.description[OrderStatus.statuses.invert[@order.status]] %>
</p>

<% if current_user.manager? %>
	<p>
	  <strong>Клиент:</strong>
	  <%= link_to "#{@order.client.first_name} #{@order.client.last_name }", edit_user_registration_path(@order.client) %>
	</p>

	<p>
	  <strong>Оператор:</strong>
	  <%= @order.operator %>
	</p>
<% end %>
<%= link_to 'Редактировать', edit_order_path(@order), class: "btn btn-default" %>