<p>
  <strong>Заказ:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Клиент:</strong>
  <%= link_to "#{@order.client.first_name} #{@order.client.last_name }", edit_user_registration_path(@order.client) %>
</p>

<p>
  <strong>Оператор:</strong>
  <%= @order.operator %>
</p>

<%= link_to 'Редактировать', edit_order_path(@order), class: "btn btn-default" %>