<p>
  <strong>Заказ:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Клиент:</strong>
  <%= @order.client %>
</p>

<p>
  <strong>Оператор:</strong>
  <%= @order.operator %>
</p>

<%= link_to 'Редактировать', edit_order_path(@order), class: "btn btn-default" %>