<div class="row">
	<div class="first-page-text">

		<div class="col-xs-12 col-md-12 col-sm-12">

			<a href="#how"></a>
			<div id="how_it_works" class="row">
				<div class="row header text-center">
					<div class="horizontal_line"></div>
					<h2>Как это работает</h2>
				</div>
				<div class="row col-md-12">
					<div class="col-xs-12 col-md-4 col-sm-4">
						<div class="icon text-center">
							<div class="horizontal_line_circle hidden-xs"></div>
							<div class="circle hidden-xs"></div>
							<%= image_tag("message_icon.png") %>
						</div>
						<p class="text-center">Напишите нам подробно про то, что вам нужно в форме на сайте или по номеру телефона <br/> <span class="phone">+7 (909) 4205 205</span></p>
					</div>
					<div class="col-xs-12 col-md-4 col-sm-4">
						<div class="icon text-center"> 
							<div class="circle hidden-xs"></div>
							<%= image_tag("checklist_icon.png") %>
							<div class="horizontal_line_circle hidden-xs"></div>
						</div>
						<p class="text-center">Через некоторое время мы пришлем сообщение с деталями заказа – стоимостью и временем исполнения</p>
					</div>
					<div class="col-xs-12 col-md-4 col-sm-4">
						<div class="icon text-center">
							<div class="circle hidden-xs"></div>
							<%= image_tag("confirmation_icon.png") %>
						</div>
						<p class="text-center">Подтвердите ваш заказ, сообщив всю необходимую информацию, и мы все сделаем хорошо и вовремя</p>
					</div>
				</div>
				<div class="row text-center" >
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<%= render ('orders/form') %>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-3">
						<div class="text-center"><%= image_tag("delivery_icon.png") %></div>
						<p>Мы постараемся решить любую вашу проблему – найдем продавца или исполнителя, договоримся и доставим. Но все в рамках закона</p>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="text-center"><%= image_tag("basket_icon.png") %></div>
						<p>Никаких наценок и комиссий. Конечная стоимость включает цену у поставщика или исполнителя и оплату доставки</p>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="text-center"><%= image_tag("wallet_icon.png") %></div>
						<p>Оплачивайте когда вам удобнее: после исполнения заказа наличными или после подтверждения картой на сайте</p>
					</div>
					<div class="col-xs-6 col-md-3">
						<div class="text-center"><%= image_tag "time_icon.png" %> </div>
						<p>Пока мы работаем с 10.00 до 22.00, но скоро сервис будет доступен круглосуточно. Ночные заявки мы обрабатываем утром</p>
					</div>
				</div>

			</div>

			<a href="#services"></a>

			<div id="services" class="row">
				<div class="">
					<div class="row header text-center">
						<div class="horizontal_line"></div>
						<h2>Список услуг</h2>
					</div>
					<div class="row col-md-12">
						<div class="col-xs-12 col-md-4 col-md-offset-1 col-sm-6">
							<h4>Доставка</h4>
							<p>Пицца, суши, гриль, рыба, напитки, доставка из конкретного ресторана или супермаркета, доставка лекарств, цветов, продуктов, товаров для детей, овощей и фруктов, экопродуктов, подарков, документов, срочная доставка стройматериалов, совместная закупка</p>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-2 col-md-offset-1 col-sm-6">
							<h4>Авто</h4>
							<p>Запуск двигателя, поиск свободных моек, эвакуатор, буксировка в сервис, шиномонтаж, помощь при ДТП, грузовое такси, вскрытие замков, замена лампочек, замена аккумулятора, аренда автобусов, переезды, перевозка малоподвижных, автоюрист, аренда лимузинов</p>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="col-xs-12 col-md-4 col-md-offset-1 col-sm-6">
							<h4>Дом</h4>
							<p>Вызов мастера на все руки, ремонт компьютеров, сборка мебели, вызов сантехника, вызов электрика, ремонт 
		и установка дверей и окон, системы безопасности ремонт котлов и бойлеров, вызов газовщика, канализация, установка спутниковых антенн,  вскрытие и замена замков </p>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-2 col-sm-6">
							<h4>Быт</h4>
							<p>Поддерживающая уборка, чистка ковров и мебели, уборка после ремонта, мойка окон, генеральная уборка, дезинфекция, 
		стирка и глажка штор, услуги сиделки, услуги няни, доставка продуктов по списку, зоогостиница,вызов ветврача, квартирный переезд, услуги охранника</p>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="col-xs-12 col-md-4 col-md-offset-1 col-sm-6">
							<h4>Сад</h4>
							<p>Стрижка газонов и кустарника, чистка водостоков, мойка высоким давлением, спил и обрезка деревьев, сбор и вывоз листвы и мусора, ремонт садовых строений, опрыскивание от болезней и вредителей, уборка снега, перекопка грунта, ремонт ворот, обслуживание газонов</p>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-2 col-sm-6">
							<h4>Разное</h4>
							<p>Исполнитель поручений – очереди, документы, салон красоты на выезд, поиск подрядчика или прораба, встреча и сопровождение с переводчиком, услуги курьера, отправка и получение посылок, проведение мероприятий, юридическая помощь, ритуальное сопровождение.</p>
						</div>
					</div>
				</div>			
			</div>

			<a href="#partnership"></a>
			
			<div id="partnership" class="row">
				<div class="row header text-center">
					<div class="horizontal_line"></div>
					<h2>Партнерство</h2>
				</div>

				<div class="col-md-10 col-md-offset-1">Если вы делаете свою работу лучше других и адекватно оцениваете ее, если вы понимаете, что главное в услуге – это довольный клиент, если вы пунктуальны и надежны, то напишите нам на <%= mail_to 'partner@ginius.ru' %> - давайте работать вместе.</div>

			</div>

			<a href="#jobs"></a>

			<div id="jobs" class="row">
				<div class="row header text-center">
					<div class="horizontal_line"></div>
					<h2>Работа у нас</h2>
				</div>

				<div class="col-md-10 col-md-offset-1">Если вы энергичны и креативны, умеете решать проблемы других, готовы принимать решения и нести за них ответственность, если вам кажется, что вы хотите оказаться в нашей команде, напишите нам на <%= mail_to 'job@ginius.ru' %> - давайте работать вместе.</div>

			</div>

			<a href="#contacts"></a>

			<div id="contacts" class="row">
				<div class="row header text-center">
					<div class="horizontal_line"></div>
					<h2>Контакты</h2>
				</div>
				<div class="col-md-10 col-md-offset-1">Если вы хотите нам дать совет, если вам чего-либо не хватает в нашем сервисе, если вы остались недовольны от работы с нами, напишите нам на <%= mail_to 'feedback@ginius.ru' %> – мы все учтем и обязательно исправимся.</div>

			</div>
		</div>

	</div>
</div>
