<div class="row">
	<div class="first-page-text text-center">

		<div class="col-xs-12 col-md-12 col-sm-12">

			<a href="#how"></a>
			<div id="how_it_works" class="row">
				<div class="row header">
					<div class="horizontal_line"></div>
					<h2>Как это работает</h2>
				</div>
				<div class="row col-md-12">
					<div class="col-xs-12 col-md-4 col-sm-4">
						<div class="icon">
							<div class="horizontal_line_circle hidden-xs"></div>
							<div class="circle hidden-xs"></div>
							<%= image_tag("message_icon.png") %>
						</div>
						<p>Напишите, что вам нужно в форме на сайте, или отправьте нам сообщение на номер <br/> <span class="phone">+7 (909) 4205 205</span></p>
					</div>
					<div class="col-xs-12 col-md-4 col-sm-4">
						<div class="icon"> 
							<div class="circle hidden-xs"></div>
							<%= image_tag("checklist_icon.png") %>
							<div class="horizontal_line_circle hidden-xs"></div>
						</div>
						<p>Мы ответим вам сразу и сообщим все детали вашего заказа: стоимость и время его исполнения</p>
					</div>
					<div class="col-xs-12 col-md-4 col-sm-4">
						<div class="icon">
							<div class="circle hidden-xs"></div>
							<%= image_tag("confirmation_icon.png") %>
						</div>
						<p>Подтвердите ваш заказ, сообщите необходимую информацию, и мы все сделаем хорошо и вовремя</p>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<%= render ('orders/form') %>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-3">
						<%= image_tag("delivery_icon.png") %>
						<p>Вы можете заказать все, что вы пожелаете, но только в рамках закона. Мы найдем, доставим, организуем и решим любую вашу проблему</p>
					</div>
					<div class="col-xs-6 col-md-3">
						<%= image_tag("basket_icon.png") %>
						<p>Вы получаете то, что вам нужно без наценки или каких-либо комиссий. Все товары и услуги по той же цене, что и у поставщика напрямую</p>
					</div>
					<div class="col-xs-6 col-md-3">
						<%= image_tag("wallet_icon.png") %>
						<p>Оплатить можно после получения товара или услуги наличными или картой на сайте, после подтверждения заказа, как вам удет удобнее</p>
					</div>
					<div class="col-xs-6 col-md-3">
						<%= image_tag("time_icon.png") %>
						<p>Пока мы будем работать с 10 утра до 10 вечера, а ночные заявки будем обрабатывать утром. Скоро наш сервис будет работать круглосуточно</p>
					</div>
				</div>

			</div>

			<a href="#services"></a>

			<div id="services" class="row">
				<div class="">
					<div class="row header">
						<div class="horizontal_line"></div>
						<h2>Список услуг</h2>
					</div>
					<div class="row col-md-12">
						<div class="col-xs-12 col-md-4 col-md-offset-1 col-sm-6">
							<h4>Доставка</h4>
							<p>Из каталогов - пицца, суши, гриль, рыба, напитки доставка из конкретного ресторана или супермаркета, доставка лекарств, цветов, продуктов, товаров для детей, овощей и фруктов, экопродуктов, подарков, документов, срочная доставка стройматериалов, совместная закупка</p>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-2 col-md-offset-1 col-sm-6">
							<h4>Авто</h4>
							<p>Запуск двигателя, поиск свободных моек, эвакуатор, буксировка в сервис, шиномонтаж, помощь при ДТП, грузовое такси, вскрытие замков, замена лампочек, замена аккумулятора, аренда автобусов, переезды, перевозка малоподвижных, автоюрист, аренда лимузинов</p>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="col-xs-12 col-md-4 col-md-offset-1 col-sm-6">
							<h4>Дом</h4>
							<p>Вызов мастера на все руки, ремонт компьютеров, сборка мебели, вызов сантехника, вызов электрика, ремонт 
		и установка дверей и окон, системы безопасности ремонт котлов и бойлеров, вызов газовщика, канализация, установка спутниковых антенн,  вскрытие и замена замков </p>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-2 col-sm-6">
							<h4>Быт</h4>
							<p>Поддерживающая уборка, чистка ковров и мебели, уборка после ремонта, мойка окон, генеральная уборка, дезинфекция, 
		стирка и глажка штор, услуги сиделки, услуги няни, доставка продуктов по списку, зоогостиница,вызов ветврача, квартирный переезд, услуги охранника</p>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="col-xs-12 col-md-4 col-md-offset-1 col-sm-6">
							<h4>Сад</h4>
							<p>Стрижка газонов и кустарника, чистка водостоков, мойка высоким давлением, спил и обрезка деревьев, сбор и вывоз листвы и мусора, ремонт садовых строений, опрыскивание от болезней и вредителей, уборка снега, перекопка грунта, ремонт ворот, обслуживание газонов</p>
						</div>
						<div class="col-xs-12 col-md-4 col-md-offset-2 col-sm-6">
							<h4>Разное</h4>
							<p>Исполнитель поручений – очереди, документы, салон красоты на выезд, поиск подрядчика или прораба, встреча и сопровождение с переводчиком, услуги курьера, отправка и получение посылок, проведение мероприятий, юридическая помощь, ритуальное сопровождение.</p>
						</div>
					</div>
				</div>			
			</div>

			<a href="#partnership"></a>
			
			<div id="partnership" class="row">
				<div class="row header">
					<div class="horizontal_line"></div>
					<h2>Партнерство</h2>
				</div>
				<p>Если вы делаете что-либо лучше других, адекватно оцениваете свою работу и любите ее, если вы понимаете, что главное в услуге – это довольный клиент, если вы пунктуальны и надежны, то напишите нам на <%= mail_to 'partner@ginius.ru' %> - давайте работать вместе.</p>

			</div>

			<a href="#jobs"></a>

			<div id="jobs" class="row">
				<div class="row header">
					<div class="horizontal_line"></div>
					<h2>Работа у нас</h2>
				</div>

				<p>Если вы энергичны и креативны, умеете решать проблемы других и готовы принимать решения и нести за них ответственность и если вам кажется, что вам хочется оказаться в нашей команде, напишите нам на <%= mail_to 'job@ginius.ru' %> - давайте работать вместе.</p>

			</div>

			<a href="#contacts"></a>

			<div id="contacts" class="row">
				<div class="row header">
					<div class="horizontal_line"></div>
					<h2>Контакты</h2>
				</div>
				<p>Если вам хочется посоветовать нам что-либо или помочь усовершенствовать, если вам чего-либо не хватает в нашем сервисе и у вас есть идеи, если что-то идет не так и вы остались недовольны от работы с нами, напишите нам на <%= mail_to 'feedback@ginius.ru' %> – мы все учтем и если надо исправимся.</p>

			</div>
		</div>

	</div>
</div>