<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ginius-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<%= link_to image_tag("ginius.ru_logo.png", :border => 0, :class => ""), root_path, class: "navbar-brand" %>
		    </div>			
			
			<div class="collapse navbar-collapse" id="ginius-navbar">
				<ul class="nav navbar-nav">
					<li><%= link_to "Партнёрство", '/#partnership' %></li>
					<li><%= link_to "Работа у нас", '/#jobs' %></li>
					<li><%= link_to "О нас", '/#contacts' %></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li><%= link_to "Мои заказы", orders_path %></li>
						<% if current_user.admin? %> 
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Админка <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><%= link_to "Заказы", orders_path %></li>
									<li><%= link_to "Контрагенты", contragents_path %></li>
									<li><%= link_to "Клиенты", root_path %></li>
									<li><%= link_to "Все пользователи", users_path %></li>
								</ul>
							</li>
						<% end %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><%= link_to "Профиль", edit_user_registration_path %></li>
								<li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
							</ul>
						</li>
					<% else %>
						<li>
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sign_in">
								Войти
							</button>
							
						</li>
					<% end %>
				</ul>
			</div> <!-- /.navbar-collapse -->

		</div> <!-- /.container-fluid -->
	</nav>
</header>
